<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Clean Nest Cleaning Services</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/booking">Booking</a></li>
      <li><a href="/auth">Signin/Signup</a></li>
    </ul>
    <h1>Welcome to Clean Nest</h1>
    <p><b>We are Clean Nest, Ghana's Finest Cleaning Company.</b></p>
    <p>
      We have built an enviable reputation for Quality and Efficient Cleaning
      and Fumigation Solutions in Ghana. We provide Cleaning, Janitorial,
      Fumigation and Pest Control Services. Our tagline ‘experience the
      difference’ describes our vision to succeed.
    </p>
  </body>
</html>
